.fotoPerfil {
  border: 5px solid #5847a6;
    width: 20vw;
    border-radius: 100%;
}



.Perfil {
    padding-top: 50px;
     text-align: center;
    line-height: 0.5;
}
body {
    background-color: #8074c4;
  margin: 0;
  font-family: "Times New Roman", Helvetica, sans-serif;
    color: #f2f2f2;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  /* Use a flexbox layout */
  display: flex;

  /* Make a horizontal flexbox (the default) */
  flex-direction: row;

  /* The important part: vertically center the items */
  align-items: center;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 44px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
/*///////////////////////////// CRIEI AGORA /////////////////////////*/

html {
  scroll-behavior: smooth;
}

.largespace {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.divPadrao {
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: top 0.5s;
}

.mediumText {
  font-size: 24px;
}

.sideImage {
  width: 30%;
}
.sideText {
  width: 70%;
}

.right{
  float: right;
}

.left{
  float: left;
}

hr {
  width: 100%;
  margin: 10px;
  padding: 0;
}

.divFooter {
  /*background-color: #333;*/
  padding-top: 5rem;
  color: white;
  text-align: justify-all;
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  /*width: 100%;*/
}

.bigImage {
  width: 50%;
  height: 50%;
}

.smallImage {
  width: 20%;
  height: 20%;
}

.imageGrid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*gap: 20px; !* Adjust the gap between images *!*/
}

.imageGrid img {
  width: 60%; /* Make images fill their cell */
  height: auto; /* Keep the aspect ratio */
}