@font-face {
    font-family: 'Galano Classic';
    src: url('../fonts/Rene Bieder - Galano Classic DEMO.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Galano Classic';
    src: url('../fonts/Rene Bieder - Galano Classic DEMO Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Galano Classic Alt';
    src: url('../fonts/Rene Bieder - Galano Classic DEMO Alt.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Galano Classic Alt';
    src: url('../fonts/Rene Bieder - Galano Classic DEMO Alt Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

